<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search Results</title>
</head>
<body>
	<div class="container">
		{% for post in page_obj.object_list %}
		{# note that the list of posts are in the page_obj.object_list not page_obj #}
			 <h3><strong>{{ post.title }}</strong></h3>
                <a href="{{ post.url }}">{{post.translation|slice:"0:300"}}</a>
                
			<hr/>
		{% endfor %}
	</div>
	<center>
			{% include "pagination.html" %}
	</center>
</body>
</html>
